/* src/components/ScoreDistribution.css */
.score-dist-container {
  background-color: #152232;
  border-radius: 8px;
  padding: 20px;
  height: 200px; /* Đặt chiều cao cố định cho khu vực biểu đồ */
}

.score-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Căn các cột từ dưới lên */
  height: 100%;
  width: 100%;
}

.chart-bar-item {
  display: flex;
  flex-direction: column; /* Sắp xếp amount, bar, score theo chiều dọc */
  align-items: center;
  height: 100%;
  flex: 1; /* Để các cột chiếm không gian bằng nhau */
}

.bar-amount {
  font-size: 0.8rem;
  color: #c2c2c2;
  margin-bottom: 5px;
}

.bar-element-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end; /* Căn cột bar từ dưới lên */
  margin-bottom: 5px;
}

.bar-element {
  width: 100%;
  border-radius: 5px;
  transition: height 0.3s ease-out; /* Hiệu ứng mượt mà */
}

.bar-score {
  font-size: 0.85rem;
  font-weight: bold;
  color: #fff;
}