/* src/components/StatusDistribution.css */
.status-dist-container {
  background-color: #152232;
  border-radius: 8px;
  padding: 20px;
  
}

.status-legend {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.legend-item {
  text-align: center;
  flex: 1;
}

.legend-button {
  width: 100%;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.legend-users {
  font-size: 0.85rem;
  color: #c2c2c2;
  margin: 0;
}

.status-progress-bar {
  display: flex;
  width: 100%;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-segment {
  height: 100%;
}