/* src/components/RankingCard.css */
.ranking-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #152232;
  border-radius: 8px;
  padding: 12px 20px;
}

.ranking-icon {
  font-size: 1.2rem;
}

.ranking-text {
  color: #c2c2c2;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}