/* src/App.css */
body {
  background-color: #0B1622; /* Màu nền tối */
  color: #c2c2c2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
}

/* src/App.css */

.App {
  /*max-width: 1920px; /* Giới hạn chiều ngang tối đa của nội dung */
  margin: 0 auto;   /* Tự động căn giữa theo chiều ngang */
}

/* Các style khác của bạn giữ nguyên */
body {
  background-color: #0B1622;
  /* background-color: #ffffff; */
  color: #c2c2c2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
}

.main-content-container {
  max-width: 1400px; /* Bạn có thể điều chỉnh chiều rộng tối đa này */
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;  /* Giữ khoảng cách lề hai bên */
  padding-right: 50px;
}